*.o
hello

hellotriangle
hellotriangleEBO

hellotriangleUniform
hellotriangleFragInterpol

triangle

testbench

texture
textureRibbon
textureUnit
textureUnitTimed
textureUnitTimed

transformation

coordinates
cube
cubes

cam

00/
camera_mouse/
*.a